<div class="{{app_name}}">
	<h2><perch:{{app_name}} id="{{app_name}}Title" /></h2>
	<p class="entry-published date"><perch:{{app_name}} id="{{app_name}}DateTime" format="%d %B %Y" /></p>
    
    <perch:{{app_name}} id="{{app_name}}DescHTML" encode="false" />

</div>