<perch:before>
<ul>
</perch:before>
    <li><a href="detail.php?s=<perch:{{app_name}} id="{{app_name}}ID" />"><perch:{{app_name}} id="{{app_name}}Title" /></a></li>
<perch:after>
    </ul>
</perch:after>
